{% extends 'base.html' %}

{% block title %}Simulator examen B - {% endblock %}


{% block navbar %}
    {% include 'partials/_header.html' %}
{% endblock %}


{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Simulator examen B</h1>
    </div>
</main>
{% endblock %}